<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=MovieLibrary;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
		<add name="OutputXML"
			 connectionString="output.xml"/>
		<add name="OutputExcel"
			 connectionString="output.xlsx"/>
	</connectionStrings>
	<appSettings>
		<add key="NumberOfRecPerPage" value="10"/>
	</appSettings>
</configuration>