<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=MovieLibrary;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
		<add name="OutputXML"
			 connectionString="output.xml"/>
		<add name="OutputExcel"
			 connectionString="output.xlsx"/>
	</connectionStrings>
	<appSettings>
		<!-- Pagging settings -->
		<add key="NumberOfRecPerPage" value="10"/>
		<!-- XML file settings -->
		<add key="RootNodeNameXML"        value="TestProgram"/>
		<add key="ParentNodeNameXML"	  value="Record"/>
		<add key="ParentAttributeNameXML" value="id"/>
		<add key="ProducerName"           value="FirstName"/>
		<add key="ProducerSurname"        value="LastName"/>
	</appSettings>
</configuration>